@font-face {
	src: url('fonts/VCR-Mono/VCR-Mono.eot');
    src: url('fonts/VCR-Mono/VCR-Mono.eot?#iefix') format('embedded-opentype'),
	url('fonts/VCR-Mono/VCR-Mono.woff2') format('woff2'),
	url('fonts/VCR-Mono/VCR-Mono.woff') format('woff'),
	url('fonts/VCR-Mono/VCR-Mono.ttf') format('truetype'),
	url('fonts/VCR-Mono/VCR-Mono.svg#VCR-Mono') format('svg');
    font-family: 'VCR-Mono';
    font-weight: normal;
    font-style: normal;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

.tamagotchi-device {
	width: 360px;
	height: 480px;
	background-color: #ffd700;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	font-family: 'Syncopate', sans-serif;
	color: rgb(70, 152, 206);
	font-size: 0.9rem;
	letter-spacing: 0.04em;
	margin-top: 40px;
	text-align: center;
}

.screen {
	font-family: VCR-Mono;
	padding: 10px;
	width: 50%;
	height: 40%;
	background: #cfe4f1;
	border-radius: 10px;
	margin: 10px 0 30px 0;
	border: 3px solid rgb(210, 0, 0);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: 1s ease-in-out;
}

p {
	margin: 0;
}

.pet-container {
	width: 100%;
	height: 50%;
	display: flex;
}

.center-pet {
	justify-content: center;
	width: 100%;
}

.pet {
	width: 40%;
	height: 100%;
	background-image: url('graphics/pacing.gif');
	background-size: 100% 100%;
	transition: 0s ease-in-out;
	margin: 0;
}

.pacing {
	animation: pacing 10s alternate infinite;
}

@keyframes pacing {
	0% {
		justify-content: flex-start;
	}
	50% {
		justify-content: center;
	}
	100% {
		justify-content: flex-end;
	}
}

.playing {
	animation: playing 0.2s alternate infinite;
	position: relative;
	background-image: url('graphics/dancing.gif');
	background-size: 100% 100%;
}

@keyframes playing {
	0% {
		bottom: 10px;
	}
	100% {
		bottom: 0px;
	}
}

.sleeping {
	background-image: url('graphics/sleeping.gif');
	background-size: 100% 100%;
}

.eating {
	background-image: url('graphics/eating.gif');
	background-size: 100% 100%;
}

.button-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 50%;
	height: 10%;
}

.disable-buttons {
	pointer-events: none;
}

button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 2px rgba(0, 0, 255, 0.1);
}

.middle-button {
	align-self: flex-end;
}
